* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

/* Main Component */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.hero-section {
    height: 70%;
}

.footer {
    height: 30%;
}

/* Location Component */

.header-info {
    width: 100%;
    max-width: 1260px;
    padding: 50px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.timestamp-container p:first-child, .location-data p:first-child {
    margin-bottom: 15px;
}

.location-details {
    color: white;
}

.location-details:first-child {
    font-size: 2.25rem;
}

.location-details:nth-child(2) {
    font-size: 1.25rem;
}

.right-aligned {
    text-align: right;
}

/* Weather Component */

.weather-data-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.weather-info {
    display: flex;
    gap: 50px;
}

.temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.temperature p {
    font-size: 1.5rem;
}

.degree {
    align-self: center;
    font-size: 2.5rem;
}

.card-container {
    display: flex;
    gap: 100px;
    height: 100%;
}

.card-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

hr {
    width: 30px;
    height: 1px;
    border: none;
    background-color: rgb(231, 89, 212);
}

.fa-icon {
    font-size: 3rem;
}

/* Mobile */

/* .weather-data-container  */
@media only screen and (max-width: 800px) {
    .weather-data-container {
        flex-direction: column;
        margin-top: 15px;
        width: 100%;
    }

    .card-footer {
        font-size: .90rem;
    }
    
    .location-details:first-child {
        font-size: 1.75rem;
    }
  }
